/*--------------------------------//
//                                //
//             Input              //
//                                //
//--------------------------------*/
input {
	outline-color: #FFD60A;
	outline-color: var(--color-primary);
}

input[type="file"] {
	opacity: 0;
}

input[type="number"] {
	margin-left: 2rem;
	width: 3rem;
}

input[type="checkbox"] {
	height: 1.25rem;
	width: 1.25rem;
}

.input-group {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 512px;
	width: 100%;
}